<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>添加用户</h1>
<form method="post" action="/login/add/">
    {% csrf_token %}
    <label>
        <input type="text" name="user" placeholder="用户名">
    </label>
    <label>
        <input type="password" name="pwd" placeholder="密码">
    </label>
    <label>
        <input type="text" name="age" placeholder="年龄">
    </label>
    <label>
        <input type="text" name="notes" placeholder="备注">
    </label>
    <label>
        <input type="submit" value="提交">
    </label>
</form>
</body>
</html>