{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div>
            <input id="btnAdd" type="button" value="新建订单" class="btn btn-primary" >
{#            <input id="btnAdd" type="button" value="新建订单" class="btn btn-primary" data-toggle="modal"#}
{#                   data-target="#myModal">#}
        </div>
    </div>
    <!-- 新建订单 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            bindBtnAddEvent();
        })

        function bindBtnAddEvent() {
            $('#btnAdd').click(function () {
                //点击按钮，显示对话框
                $('#myModal').modal('show')
            })
        }
    </script>

{% endblock %}